*{
    height: 0;
    width: 0;
    box-sizing: border-box;
}

.full-wrap {
    border: 1px black;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    border: 1px black;
    background-color: gray;
    height: 100%;
    width: 10%;
}

.main {
    border: 1px black;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    
}

.main-box{
    border: 1px black;
    height: 50%;
    width: 100%;
}

.box2 {
    background-color: aquamarine;
}

.box3{
    background-color: orange;
}

@media (max-width:768px) {
    .full-wrap {
        flex-direction: column;
        
    }

    .sidebar {
        width: 100%;
        height: 5%;
    }

    .main {
        width: 100%;
        height: 10%;
        margin-bottom: 80%;
    }

    

}