* {
    height: 0;
    width: 0;
    box-sizing: border-box;
}

.container {
    border: 1px black;
    height: 400px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    
}

.box {
    border: 1px black;
    height: 200px;
    width: 100%;
}

.box1 {
    background-color: RED;
}
.box2 {
    background-color: green;
}
.box3 {
    background-color: blue;
}
.box4 {
    background-color: rgb(245, 161, 66);
}

@media (max-width:1000px) {
    .container {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 100%;
    }
}